:root {
/* Fonts */

/* Color */
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}

/* Others */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body {
    width: 1128px;
    font-size: 16px;
    font-family: Roboto, sans-serif;        
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: none;
    color: var(--color-slate);
    background-color: var(--color-white);
}

.main-title {
    font-size: 56px;
    font-weight: 700;    
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: none;
}
.main-title-light {   
    margin-top: 188px;
    margin-bottom: 48px;    
    width: 496px;
    height: 120px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
    }

.section-title {
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;    
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    color: var(--color-navy-blue);
}

.subtitle {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;    
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: none;
    color: var(--color-navy-blue);
}

.text-medium {
    font-size: 16px;       
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: none;
    color: var(--color-slate);
}
.button-text {
    font-size: 16px;
    font-weight: 500;    
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-decoration: none;
    text-transform: none;
}
.small-text {
    font-size: 12px;        
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: none;
    text-transform: none;
}
.link {
    text-decoration: none;    
}

    --indent: 24px;
    --items: 4;

/* Resset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;    
}

.span {
    color: var(--color-navy-blue);
}

.container {
    width: 1128px;
    padding: 0 15px;
    margin: 0 auto;
    
}

.header-container {
    display: flex;
    align-items: center;

}

/* Header styles */

.header {
    
}
.header-nav {
    display: flex;
    margin-right: auto;    
}
.header-logo {    
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    margin-right: 76px;
    padding: 25px 0;

    }

.header-nav-list {    
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;

}

.header-nav-list :hover,
.header-nav-list :focus {
    color: var(--color-ocean);
}

.header-nav-item {    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
}
.header-nav-link {
    color: var(--color-grey);
    
}

.header-contact-link {

}

.header-contact {
    font-style: normal; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

.header-contact-mail {
    margin-right: 40px;
    color: var(--color-slate);    
}

.header-contact-tel {
    color: var(--color-slate);
}

.contact-list {
    display: flex;
    padding: 24px 0;
}

.contact-list :hover,
.contact-list :focus {
    color: var(--color-ocean);
}

.main-title {
    color: var(--color-white);
}
.section-title {
}

/* Hero section */
.hero {
    
    background: var(--color-navy-blue);
}

.hero-container {
    margin-bottom: 120px;
    display: flex;    
    flex-direction: column;
    align-items: center;        
}

.hero-btn { 
    margin-bottom: 188px;   
    min-width: 160px;
    min-height: 50px;
    padding: 16px 32px;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-width: 0;
    cursor: pointer;    
    color: var(--color-white);
    background-color: var(--color-iris);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--color-ocean);
}

/* Advantages section */

.advantages-container {
    display: flex;
    margin-bottom: 120px;
   
}

.advantages {
}

.advantages-list {
    
}

.advantages-item {
    margin: auto;   
    width: 264px;
    color: var(--color-slate);
}

/* Specialization section */

.specialization {
}

.specialization-list { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 240px;
}

.specialization-item {
}

.specialization-img {

}

/* Team sectiom */

.team {
    background-color: var(--color-cloud);
}
.team-link {
    margin-bottom: 120px;
}

.team-item {
    background-color: var(--color-white);
}

.team-img {

}
.team-text-container {
    padding: 32px 16px;
    text-align: center;
}

/* Footer section */

.footer-container {
padding: 100px 156px;
}

.footer-background {
    background: var(--color-grey);
}

.footer {
    color: var(--color-cloud);    
}
.footer-logo {    
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
}

.span-footer {
    color: var(--color-cloud);
}

.footer-text {
    width: 264px;
    height: 72px;
}

/* Button section portfolio */
.button-section {
    
}
.button-section-link {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 96px;
    margin-bottom: 72px;
}
.button-section-item {
    
}
.btn {
    min-width: 78px;
    min-height: 48px;
    padding: 12px 24px;
    border-radius: 4px;
    border-width: 0;
    font-family: "Roboto", sans-serif;  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;      
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;   
    color: var(--color-iris);
    background-color: var(--color-cloud);
}

.btn:hover,
.btn:focus {    
    background-color: var(--color-ocean);
}

.btn:hover,
.btn:focus {    
    color: var(--color-white);    
}

.button {     
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;      
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;    
    color: var(--color-iris);
    background-color: var(--color-cloud);            
}

.button :hover,
.button :focus {
    color: var(--color-white);
    background-color: var(--color-ocean);
}

.accent-button {
    background:  var(--color-ocean);
    min-width: 69px;
    min-height: 48px;
    padding: 12px 24px;
    border-radius: 4px;
    border-width: 0;
    color: var(--color-white);
}

.accent-button:hover {
    color: var(--color-grey);
}

/* Portfolio section */
.portfolio {
}
.portfolio-row {
    display: flex;
    gap: 24px;
    
}
.portfolio-row:not(:last-child) {
    margin-bottom: 48px;
}

.portfolio-row:last-child {
    margin-bottom: 120px;
}

.portfolio-list-container {
    padding: 0 16px;
    justify-content: space-between;
}

.section-title {
}

.portfolio-item {
}
.portfolio-img {
    margin-bottom: 32px;
}

/* Card set */

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}

.card-set-item {
flex-basis: calc((100% - var(--indent) * var(--items) - 1)) / var(--items);
}